@each $key, $value in $font-size-map {
  .h#{$key} {
    @extend %heading;
    @include font-size($value);
    font-weight: normal;
    margin: 0;
  }
}

@each $key, $value in $font-weight-map {
  .fw-#{$key} {
    font-weight: $value;
  }
}

.font-mantou {
  font-family: $font-mantou;
  letter-spacing: .5rem;
}

.text-primary-gradient {
  background: linear-gradient(90deg, #E5793B 1.54%, #FF4185 97.86%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
