// colors
$white: #ffffff;

$azure-100: #f1f5f9;
$azure-200: #e2e8f0;
$azure-300: #cbd5e1;
$azure-400: #94a3b8;
$azure-500: #64748b;
$azure-600: #475569;
$azure-700: #334155;
$azure-800: #1e293b;
$azure-900: #0f172a;

$primary:       #da7d4a;
$secondary:     $azure-700;
$tertiary:      $azure-500;
$info:          #f7ece1;
$light:         #fdfcfb;

$theme-colors: (
  'primary':    $primary,
  'secondary':  $secondary,
	'tertiary': 	$tertiary,
  'info':       $info,
  'light':      $light,
  // 'dark':       $dark,
	'white':			$white,
);


// font styles
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
	font-family: MantouSans;
	src: url('@/assets/fonts/MantouSans-Regular.ttf') format('truetype');
}

$font-family-sans-serif:    'Noto Sans TC', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$body-color: $azure-700;


// utility
$base-value: 1rem;
$font-size-map: (
	1: 		$base-value * 6,
	2: 		$base-value * 4,
	3: 		$base-value * 3.25,
	4: 		$base-value * 2.5,
	5: 		$base-value * 2,
	6: 		$base-value * 1.75,
  7: 		$base-value * 1.5,
	8: 		$base-value * 1.25,
	9: 		$base-value * 1.125,
  10: 	$base-value * 1,
  11: 	$base-value * 0.875,
);

$spacers: (
	0: 		0,
	1:  	$base-value * .25,
	2:  	$base-value * .5,
  3:  	$base-value * .75,
  4:  	$base-value * 1,
  5:  	$base-value * 1.25,
  6:  	$base-value * 1.5,
	7:  	$base-value * 1.75,
  8:  	$base-value * 2,
  9:  	$base-value * 2.25,
  10: 	$base-value * 2.5,
  11: 	$base-value * 2.75,
	12: 	$base-value * 3,
  13: 	$base-value * 3.25,
  14: 	$base-value * 3.5,
  15: 	$base-value * 3.75,
  16: 	$base-value * 4,
	17: 	$base-value * 4.25,
  18: 	$base-value * 4.5,
  19: 	$base-value * 4.75,
  20: 	$base-value * 5,
);

$border-radius-map: (
  1: $base-value * .25,
  2: $base-value * .5,
  3: $base-value * 1,
  4: $base-value * 1.5,
  5: $base-value * 2,
  6: $base-value * 2.5,
);

$font-weights: (
  100: 100,
  200: 200,
  300: 300,
  400: 400,
  500: 500,
  600: 600,
  700: 700,
  800: 800,
  900: 900,
);