@each $key, $value in $font-size-map {
	.h#{$key} {
		@extend %heading;
		@include font-size($value);
		line-height: 1.5;
		margin: 0;
	}
}

@each $key, $value in $font-weights {
	.fw-#{$key} {
		font-weight: $value;
	}
}

.font-mantous {
	font-family: MantouSans, sans-serif;
}

.text-gradient {
	display: inline-block;
	letter-spacing: 8px;
	background-image: linear-gradient(90deg, #E5793B, #FF4185);
	background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	&-hover {
		&:hover {
			animation: dynamicColor 3s linear infinite;
		}
		@keyframes dynamicColor {
			0% {
				filter: hue-rotate(0deg);
			}
			100% {
				filter: hue-rotate(360deg);
			}
		}
	}
}